body {
  background: linear-gradient(#35aefc80, #4050f780), url(wallPapers.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

section {
  display: block;
  text-align: center;
}

#title {
  margin-top: 30px;
  text-align: center;
  font-family: monospace;
  font-size: 400%;
  padding: 20px;
  color: black;
}

#color-palette {
  display: block;
  text-align: center;
  margin-top: -35px;
  padding-top: 30px;
}

.color {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  margin-left: 1%;
}

#pixel-board {
  background-image: url('canvas.png');
  background-repeat: no-repeat;
  background-size: 35.9%;
  background-position: center;
  margin-top: 30px;
  padding-top: 100px;
  padding-bottom: 400px;
  display: block;
  text-align: center;
}

.pixel {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  display: inline-block;
  background-color: white;
  margin-top: -5px;
}

#black {
  background-color: black;
}

#clear {
  margin-top: -30px;
  padding: 30px;
}

#clear-board {
  font-family: monospace;
  font-weight: 900;
  font-size: 20px;
}

#generator {
  margin-top: -1px;
  padding: 30px;
}

#board-size {
  font-size: 20px;
  width: 250px;
}

#generate-board {
  font-size: 20px;
}

.selected {
  border: 5px solid chartreuse;
}

#bob {
  display: block;
  text-align: right;
  margin-right: -9px;
  margin-top: -550px;
}

#bob img {
  display: inline-block;
  position: sticky;
}

#easterEgg {
  color: black;
  font-family: monospace;
  margin-top: -730px;
  font-size: 50px;
  text-align: center;
  padding: 10px;
}
